body{
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin: 0 auto;
  background-color: wheat;
  padding: 50px;
}
.picture {
  height: 600px;
  width:1000px;

}
.carousel {
  position: relative;
    overflow: hidden;
    border: 2px solid brown;
    width: 1000px;
    overflow: hidden;
    margin:0 auto;
    position: relative  ;
   
}

.carousel ul{
   /*width: 3021px;*/
    position: relative;
     list-style: none;
    margin: 0;
    padding: 0;
}
.carousel ul li {
   float: left;
   display: inline-block;
}
#left,#right {
  font-size:  40px;
  opacity:  .7;
  position:   absolute; 
  z-index:  222;
  cursor:   pointer;
}
#left:hover,#right:hover {
  color:#FFF;
}
#left {
  left: 10px;
  top:49%;
}
#right {
  right: 10px;
  top: 49%;
}

.my-circle {
width: 15px;
height: 15px;
border-radius: 20px;
background-color: grey;margin:3px;
}
.buttons {
  display: flex;
  flex-direction: row;
 width: 400px;
 margin: 0 auto;
    justify-content: center;

}
.red-color {
  background-color: red;
  margin-left:7px;
  margin-right: 7px;
}
